<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.AdminMapper">
	<!-- 상품 등록 -->
  	<insert id="goodsEnroll">
  	
  		<selectKey resultType="int" keyProperty="gdsNum" order="AFTER">
  		
  			SELECT LAST_INSERT_ID()
  		
  		</selectKey>
  	
  		insert into tbl_goods(gdsName, cateCode, cateName, gdsPrice, gdsStock, gdsDes)
		values(#{gdsName}, #{cateCode}, #{cateName}, #{gdsPrice}, #{gdsStock}, #{gdsDes})

  	</insert>
	
	<!-- 카테고리 리스트 -->
  	<select id="cateList" resultType="org.zerock.domain.CateVO">
  	
  		select cateName from tbl_cate1
  	
  	</select>
  	
  	<!-- 2차 카테고리 리스트 -->
  	<select id="cate2List" resultType="org.zerock.domain.CateVO">
  	
  		select * from tbl_cate2 where cateName=#{cate1}
  	
  	</select>
	
	<!-- 상품 리스트 -->
	<select id="goodsGetList" resultType="org.zerock.domain.GoodsVO">
	
		select  a.gdsNum, a.gdsName, a.gdsPrice, a.cateCode, a.gdsStock, a.gdsDate
		from tbl_goods AS a
		left join tbl_cate1 AS b on a.cateCode = b.cateName
		left join tbl_cate2 AS c on b.cateName = c.cateName
		<if test="keyword != null">
			where (gdsName like concat ('%', #{keyword}, '%'))
		</if>
		order by gdsNum DESC
		limit #{skip}, #{amount};	
	
	</select>
  	
  	<!-- 상품 총 갯수 -->
  	<select id="goodsGetTotal" resultType="int">
  	
  		select count(*) from tbl_goods
  		
  		<if test="keyword != null">
  		
  			where gdsName like concat('%' , #{keyword}, '%')
  		
  		</if>
  	
  	</select>
  	
  	<!-- 상품 조회 페이지 -->
	<select id="goodsGetDetail" resultType="org.zerock.domain.GoodsVO">
	
		select gdsNum, gdsName,
			cateCode, gdsPrice, gdsStock, gdsDes, gdsDate 
		from tbl_goods where gdsNum = #{gdsNum}
	
	</select>
	
	
	<!-- 상품 정보 수정 -->
	<update id="goodsModify">
		
		update tbl_goods set gdsName = #{gdsName}, cateName = ${cateName}, cateCode = ${cateCode}, gdsPrice = #{gdsPrice}, 
			gdsStock = #{gdsStock}, gdsDes = #{gdsDes}
		where gdsNum = ${gdsNum}
		
	</update>
	
	<!-- 상품 정보 삭제 -->
	<delete id="goodsDelete">
	
		delete from tbl_goods where gdsNum = #{gdsNum}
	
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
	
		insert into tbl_image(gdsNum, fileName, uploadPath, uuid) values (#{gdsNum}, #{fileName}, #{uploadPath}, #{uuid})
	
	</insert>

</mapper>